*::before,
*::after,
* {
	box-sizing: border-box;
}


html, body, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #EAEAEA;
}

header, footer {
	flex-grow: 0;
}

.content__wrapper {
	flex-grow: 1;
	display: flex;
	padding: 1rem;
}

.content {
	max-width: 1000px;
	margin-inline: auto;
}

.img-gallery {
	/*width: 100%;*/
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 140px);
	/*grid-auto-rows: 1fr;*/
	/*height: 300px;*/
	gap: 2px;
}

.img-gallery img:nth-of-type(1) {
	grid-row: 1/3;
	grid-column: 1/3;
}
.img-gallery img:nth-of-type(2) {
	grid-row: 1;
	grid-column: 3/4;
}
.img-gallery img:nth-of-type(3) {
	grid-row: 2;
	grid-column: 3/4;
}

.img-gallery img:nth-of-type(6) {
	grid-row: 3;
	grid-column: 1/3;
}

.img-gallery img:nth-of-type(7) {
	grid-row: 3;
	grid-column: 3/-1;
	object-position: top right;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 2px;
}


