---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
let backgroundUrl = 'url(/grill1/2023-09-23/A45F95AD-6611-4CE1-95CC-17367D5BEC2A.jpeg)';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<div id="hero">
			<main>
			
			</main>
		</div>

		<Footer />
	</body>
</html>

<style>
	#hero {
		background-image: url("/grill1/2023-09-23/A45F95AD-6611-4CE1-95CC-17367D5BEC2A.jpeg");
		height: 100vh;
		width: auto;
		background-repeat: no-repeat;
		background-size: cover;
		opacity: 0.09;
	}
</style>
