---
import NavLink from './NavLink.astro';
---

<header>
  <div class="header__inner">
    <div class="logo__container">
      <a class="logo__link" href="/">
        <div class="logo__img__container">
          <img class="logo__img" src="/small-logo.png">
        </div>
        <h2 class="logo__title">Generations Grill Works</h2>
      </a>
    </div>
    <nav>
      <a href="/builds">Builds</a>
    </nav>
  </div>
</header>

<style>
    header {
        //margin-bottom: 1rem;
        padding: 1rem;
        border-bottom: 1px solid #dcdada;
    }

    //@media(max-width: 700px) {
    //  header {
    //    padding: 4px;
    //  }
    //}

    header a {
      text-decoration: unset;
      color: unset;
    }

    .header__inner {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .logo__container {
        margin-right: auto;
    }

    .logo__link {
        display: flex;
        gap: .5rem;
        align-items: center;
    }

    .logo__img__container {
        width: 35px;
    }

    .logo__img {
        width: 100%;
        border-radius: 5px;
    }

    nav a {
        text-decoration: none;
        color: unset;
    }

    nav a:hover {
        text-decoration: underline;
        color: #CE4B49;
    }

    .logo__title {
        font-size: min(5.9vw, 1.8rem);
    }


</style>
