---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Nav from "../components/Header.astro";
const {title} = Astro.props;
import '../styles/global.css'
---

<!doctype html>
<html lang="en">
<head>
  <!-- Global Metadata -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <link rel="icon" type="image/svg+xml" href="/small-logo.png"/>
  <meta name="generator" content={Astro.generator}/>

  <!-- Font preloads -->
  <link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin/>
  <link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin/>

  <!-- Primary Meta Tags -->
  <title>Generation Grill Works | {title}</title>
</head>
<body>
<Nav/>
<slot/>
<Footer/>
</body>
</html>

